body{
    background-color: aquamarine;
    text-align: center;
}

.chicken{
    background-color: rgb(96, 252, 104);
    text-align: center;
}

.sum-output{
    background-color: rgb(220, 132, 247);
    text-align: center;
}