
body {
    /*background: black;*/
    background-image: url("IM1/WW4.jpg"); 
    background-size: 100% ;
    /*background-repeat: no-repeat;*/
}

.cent {
	margin:0px auto;
	display:block;
}

.cent2 {
  text-align: center;
  color: red;
}

.gap-1 {
	width:100%; 
	height:20px;
}

.gap-2 {
  width:100%; 
  height:25px;
}

h1{
    font-family: "Times New Roman"; 
    font-size: 20px; 
    color: blue; 
    text-align: center; 
}

h2 {
    text-align: center; 
  }

h4{
	text-align: center;
}

h5{
  text-align: center;
}

p {
	background-color: white;
}

hr{
   WIDTH: 75%;
}



div.transbox {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 1%;
  /*margin-bottom: 90%;*/

/*	margin:0px auto;
	display:block;
*/
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin-right: 15%;
  margin-left: 5%;
  font-weight: bold;
  color: black;
}
