
<!-- <ul class="nav nav-tabs menu-ul">

  <li class="nav-item">
    <a class="nav-link menu-bg" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link menu-bg" href="/1">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link menu-bg" href="/2">Contac Us</a>
  </li>

</ul> -->


<ul class="menu-ul">

  <li class="menu-li" ><a href="/" class="menu-a">HOME</a></li>
  <li class="menu-li" ><a href="/1" class="menu-a">ABOUT US</a></li>
  <li class="menu-li" ><a href="/2" class="menu-a">CONTACT US</a></li>

</ul>

<!-- <hr> -->
